<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/components.min.css">
        <link rel="stylesheet" href="css/plugins.min.css">
        <link rel="stylesheet" href="css/layout.min.css">
        <link rel="stylesheet" href="css/blue.min.css">
        <link rel="stylesheet" href="css/custom.min.css">
      
        <style>
    #test {
        padding-left: 50px;
        color: #a2a2a2;
        font-size: 14px;
    }
    
    #test li {
        margin-bottom: 10px;
    }
    
    input {
        font-size: 12px;
        padding: 5px;
    }
    
    #reurn_trip {
        margin-left: 0px;
    }
    
    .form-horizontal .form-group {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    h6 {
        font-size: 14px;
    }
    
    .form-wizard .steps>li.active>a.step .number {
        background-color: #9d7d53;
        color: #fff;
    }
    
    .form-wizard .steps>li>a.step .number {
        background-color: #EEEEEE;
        color: rgba(19, 19, 19, 0.58);
    }
    
    .form-wizard .steps>li>a.step>.desc,
    .form-wizard .steps>li>a.step>.number {
        color: rgba(19, 19, 19, 0.58);
    }
    
    .form-wizard .steps {
        box-shadow: 0px 1px 3px;
        margin-bottom: 25px;
    }
</style>
    </head>
    <body>
    <section>
<div class="container">

    <div class="portlet-body form">
        <div class="form-wizard">
            <div class="form-body">
                <ul class="nav nav-pills nav-justified steps">
                    <li class="disabled">
                        <a data-toggle="" class="step" aria-expanded="true">
                            <span class="number"> 1 </span>
                            <span class="desc">
                                        <i class="fa fa-check"></i> Choose Your Ride </span>
                        </a>
                    </li>
                    <li class="active">
                        <a data-toggle="" class="step">
                            <span class="number"> 2 </span>
                            <span class="desc">
                                        <i class="fa fa-check"></i> Additional Options </span>
                        </a>
                    </li>
                    <li class="disabled">
                        <a data-toggle="" class="step">
                            <span class="number"> 4 </span>
                            <span class="desc">
                                        <i class="fa fa-check"></i> Personal Information </span>
                        </a>
                    </li>
                    <li class="disabled">
                        <a data-toggle="" class="step active">
                            <span class="number"> 3 </span>
                            <span class="desc">
                                        <i class="fa fa-check"></i> Confirm Booking </span>
                        </a>
                    </li>
                    <li class="disabled">
                        <a data-toggle="" class="step">
                            <span class="number"> 5 </span>
                            <span class="desc">
                                        <i class="fa fa-check"></i> Payment </span>
                        </a>
                    </li>
                </ul>
                <div id="bar" class="progress progress-striped" role="progressbar">
                    <div class="progress-bar progress-bar-success active" style="width: 40%;"> </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab2">
                        <div class="col-xs-12">
                        {{Form::open(['route'=>'personal-information.post', 'files'=>'true'])}}
                            <div class="col-md-12 col-sm-12 col-xs-12" style="border:1px solid #a2a2a2;margin-bottom:200px;padding-bottom:10px">
                                <div class="form-group">
                                    <div class="col-sm-5">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" style="height: 22px; width:  22px;margin-left: -25px;margin-top: 2px;" value="Baby Seat" name="Checkbox[]">Baby Seat</label>
                                    </div>
                                    <div class="col-sm-5">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" style="height: 22px;width:  22px;margin-left: -25px;margin-top: 2px;" value="Short Distance" name="Checkbox[]">Short distance parking &euro;5</label>
                                    </div>
                                    <div class="col-sm-5">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" style="height: 22px;width:  22px;margin-left: -25px;margin-top: 2px;" value="Child Seat" name="Checkbox[]">Child Seat</label>
                                    </div>
                                    <div class="col-sm-5">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" style="height: 22px;width:  22px;margin-left: -25px;margin-top: 2px;" value="Additional Address" name="Checkbox[]">Additional Address &euro;10</label>
                                    </div>
                                    <div class="col-sm-5">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" id="chkReturnAdd" onclick="HideMsg(this);" style="height: 22px;width:  22px;margin-left: -25px;margin-top: 2px;" value="Return Trip" name="Checkbox[]">Book a Return Trip</label>
                                    </div>

                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                </div>
                                <br>
                                <div style="display: none" id="msg" class="showp form-group">
                                    <div style="background-color: #B69E88;padding: 20px;" id="showDiv">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group has-icon has-label">
                                                    <input type="text" size="50" autocomplete="on" id="searchTextField" class="form-control" placeholder="From : address, airport ,hotel...."><img src="{{asset('public/Frontend/img/location-icon.png')}}" style="float:right;color: gray;margin-top: -28px;margin-right: 2px;height:20px">

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group has-icon has-label">
                                                    <input type="text" autocomplete="on" id="searchTextField2" class="form-control" placeholder="To : address, airport ,hotel...."><img src="{{asset('public/Frontend/img/location-icon.png')}}" style="float:right;color: gray;margin-top: -28px;margin-right: 2px;height:20px">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="form-group has-icon has-label">

                                                    <div class="form-group">
                                                        <input class="form-control" readonly="" id="date" name="date" data-date-start-date="0d" placeholder="Date" type="text" />
                                                        <img src="{{asset('public/Frontend/img/calander.png')}}" style="float:right;color: gray;margin-top: -28px;margin-right: 2px;height:20px">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">

                                                <div class="form-group has-icon has-label">
                                                    <div class='input-group date' id='timepicker'>
                                                        <input style="text-align: left;" type='text' placeholder="Time" class="input-group-addon form-control" />
                                                        <span class="input-group-addon">
                                                                    <span class="fa fa-clock-o"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">ADDITIONAL ADDRESS OR REMARKS:</label>
                                    <textarea name="address" rows="5" type="text" class="form-control" placeholder="Additional address or remarks..."></textarea>
                                </div>

                                <p style="margin-top: -16px;font-size: 12px;margin-bottom: 15px;">Note : Additional address &euro;10 and Short distance parking &euro;5 will effect the total price on the Confirm Booking</p>

                                <a href="{{URL::to('choose-ride-back')}}" class="btn btn-primary btn-lg pull-left" type="button" style="background:#9d7d53;border: 0;-webkit-appearance: inherit;">BACK</a>
                                <button class="btn btn-primary nextBtn btn-lg pull-right" type="submit" style="background:#9d7d53">CONTINUE</button>

                            </div>
                        {{Form::close()}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </section>

        <!-- Add your site or application content here -->
        <p>HTML5 Starter Template</p>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="js/jquery.bootstrap.wizard.min.js"></script>
	  <script src="js/form-wizard.min.js"></script>

    </body>
</html>